.quiz-container {
    // padding: 15px;

    .title {
        font-size: 30px;
        font-weight: 600;
    }

    legend {
        font-size: 13px;
    }

    .buttonSave {
        button {
            margin-left: 10px;
        }
    }

    .list-detail {
        padding: 37px;
    }


}